body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
}

.header {
    background-color: #1f2937;
    color: white;
    font-weight: 900;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

ul {
    font-size: medium;
    font-weight: 400;
    display: flex;
    justify-content: space-evenly;
    gap: 24px;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: wheat;
}

.main-one {
    height: 400px;
    color: #f9faf8;
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 45px;
}

.img-one {
    display: flex;
    align-self: flex-end;
    flex-wrap: wrap;
    flex-shrink: 0;
}

button {
    color: white;
    background-color: #3882f6;
    font-size: large;
    font-weight: 800;
    padding: 20px;
    height: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

p {
    display: flex;
    flex-wrap: wrap;
}

.p-one {
    font-size: 48px;
    font-weight: 900;
}

.main-two {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

img {
    border-radius: 10px;
}

.main-three {
    background-color: #e5e7eb;
    font-size: 36px;
    font-weight: 300px;
    display: flex;
    justify-content: center;
    padding: 100px;
}

.main-four {
    background-color: #3882f6;
    display: flex;
    justify-content: center;
    margin: 50px;

}

.footer {
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: center;
}